<form #pollForm="ngForm" (submit)="onAddPoll(pollForm)">

  <h2>Edit Poll</h2>

  <div>
    <mat-form-field>
      <mat-label>Poll Name:</mat-label>
      <input ngModel name="pollName" #pollName="ngModel" matInput placeholder="Poll Name" />

    </mat-form-field>
  </div>
  <div>
    <mat-form-field>

      <mat-label>Poll Id:</mat-label>
      <input ngModel name="pollId" #pollId="ngModel" matInput placeholder="Poll Id" />
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="submit">Save</button>
  <div>
    {{serverMessage}}
  </div>
  <div *ngIf="confirmedPollId">

    <a routerLink="/poll/{{confirmedPollId}}">
      Open Vote Screen for poll with id: {{confirmedPollId}}
    </a>
  </div>
  <pre>
{{poll | json}}
</pre>
</form>
