<form #pollForm="ngForm">

  <h2>Edit Poll</h2>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Poll Name:</mat-label>
      <input [(ngModel)]="poll.name" name="pollName" #pollName="ngModel" matInput placeholder="Poll Name" required minlength="5" />

      <mat-error *ngIf="pollName.invalid">Please enter a valid poll name (min length 5).</mat-error>
      <mat-hint>A descriptive name of the poll</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">

      <mat-label>Poll Id:</mat-label>
      <input [(ngModel)]="poll.id" name="pollId" #pollId="ngModel" matInput placeholder="Poll Id" required minlength="5" />
      <mat-error *ngIf="pollId.invalid">Please enter a valid poll id (min length 5).</mat-error>
      <mat-hint>A unique business id of the</mat-hint>
    </mat-form-field>
  </p>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
  <div>
    <mat-error>
      {{serverMessage}}
    </mat-error>

  </div>
  <div *ngIf="confirmedPollId">
    <div>
      <a routerLink="/poll/register/{{confirmedPollId}}">
        Register for poll with id: {{confirmedPollId}}
      </a>
    </div>
    <div>
      <a routerLink="/poll/{{confirmedPollId}}">
        Vote on poll with id: {{confirmedPollId}}
      </a>
    </div>
  </div>
  <pre>
{{poll | json}}
</pre>
</form>
