<h1 mat-dialog-title>Help</h1>
<div mat-dialog-content>
  How to create a Blockchain poll?
  <ul>
    <li>
      Create your poll with defining its name, its unique business id (poll id) and some questions with selectable options.
    </li>
    <li>
      The poll id can be used in the future to look up the poll, please do not forget to <strong>keep a note of the poll id</strong>.
    </li>
    <li>
      Once your poll is saved, you can register users entering their email addresses and they receive their ballot code via email.
    </li>
    <li>
      Alternatively, you can share the registration link with users who you want to involve in the poll. The users can then register themself with their email addresses.
    </li>
    <li>
      The core information of a poll is immutable (id, questions, name etc.), once it is saved it can not be modified, only a new one can be created.
    </li>
    <li>
      This page is <strong>under construction</strong>. When something does not work, try restarting the form with F5.
    </li>
  </ul>
</div>
