<h1 mat-dialog-title>Help</h1>
<div mat-dialog-content>
  How to create a Blockchain poll?
  <ul>
    <li>
      Create your poll with defining its name, its unuique business id and any number of questions and options for the questions.
    </li>
    <li>
      Once you poll is saved, you can register users entering their email address or sending the registration link
      to the user you want to vote on the poll.
    </li>
    <li>
      The core information of a poll is immutable, once it is saved it can not be modifed, only a new one can be created.
    </li>
  </ul>
</div>
