<div *ngIf="poll">
  <h2>Vote on poll: {{poll.name }} -- {{poll.id}} </h2>
  <div>
    <!-- <mat-form-field appearance="outline">
      <mat-label>My Vote:</mat-label>
      <input [(ngModel)]="currentVote" matInput />
    </mat-form-field> -->
    <mat-form-field appearance="outline" class="ballot-code">
      <mat-label>Ballot Code</mat-label>
      <input [(ngModel)]="ballotCode" matInput />
    </mat-form-field>
  </div>
  <div>
    <div *ngFor="let question of poll.pollQuestions;let i = index;">

      <label class="poll-radio-group">{{question.question}}</label>
      <mat-radio-group [(ngModel)]="currentVotes[i]">
        <mat-radio-button *ngFor="let option of question.options" class="poll-radio-button" [value]="option">
          {{option}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="vote()">Vote</button>
  <button mat-raised-button color="warn" (click)="mine()">Create Block</button>

  <mat-error>{{errorMessage}}</mat-error>
  <div>{{successMessage}}</div>
  <div><strong>{{voteReceipt}}</strong></div>

  <div class="poll-advanced-section">
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Validate
          </mat-panel-title>
          <mat-panel-description>
            Verify yourself
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="hash-calculator">
          <div>
            <div>
              <mat-form-field appearance="outline" class="textToCalculateHash">
                <mat-label>Json Data</mat-label>
                <textarea rows="20" cols="200" [(ngModel)]="textToNormalize" matInput>
              </textarea>
              </mat-form-field>
            </div>
            <div>
              <button (click)="normalize()" mat-raised-button color="primary">Normalize</button>
            </div>
            <div>
              <mat-error>{{normalizationError}}</mat-error>
            </div>
          </div>
          <div>
            <div>
              <mat-form-field appearance="outline" class="textToCalculateHash">
                <mat-label>Text</mat-label>
                <textarea  rows="20" cols="200" [(ngModel)]="textToHash" matInput>
                </textarea>
              </mat-form-field>
            </div>
            <div>
              <button (click)="calculateHash()" mat-raised-button color="primary">Calculate SHA 256 Hash</button>

              <div>
                {{calculatedHash}}
              </div>
            </div>
          </div>
        </div>



      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Blockchain
          </mat-panel-title>
          <mat-panel-description>
            The raw blockchain json
          </mat-panel-description>
        </mat-expansion-panel-header>
        <section>
          <div class="example-button-row">
            <button mat-raised-button (click)="getPoll()" color="primary">Refresh</button>
            <button mat-raised-button (click)="storePollInBrowser()" color="accent">Store in browser</button>
            <a mat-raised-button href="/api/poll/{{poll.id}}" target="_blank">Open</a>
          </div>
        </section>
        <pre>{{pollJSON}}</pre>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Blockchain local backup
          </mat-panel-title>
          <mat-panel-description>
            The locally stored raw blockchain json
          </mat-panel-description>
        </mat-expansion-panel-header>
        <section>
          <div class="example-button-row">
            <button mat-raised-button (click)="loadFromBrowser()" color="accent">Load from browser store</button>
            <button mat-raised-button (click)="uploadFile.click()">Upload from local file</button>
            <input mat-raised-button #uploadFile type='file' hidden (change)="fileChanged($event)">
            <button (click)="formatJSONLocalBackup()" mat-raised-button color="primary">Format</button>
            <button (click)="compareBlocks()" mat-raised-button color="warn">Compare blocks</button>

          </div>
        </section>
        <div><strong>{{blockComparisionStatusMessage}}</strong></div>
        <mat-error>{{formatJSONLocalBackupError}}</mat-error>
        <pre>{{pollJSONLocalBackup}}</pre>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
