
.mat-raised-button {
  margin: 5px;

}


.poll-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.poll-radio-button {
  margin: 5px;
}

.ballot-code {
  width: 350px;
}

.textToCalculateHash {
  width: 350px;
  margin: 20px;
}

.poll-advanced-section {
  margin-top: 20px;
}

.hash-calculator {
  display: flex;
}
