<div *ngIf="poll">
  <h2>Vote on poll: {{poll.name }} -- {{poll.id}} </h2>
  <div>
    <ul>
      <li *ngFor="let vote of poll.votes">
        {{vote}}
      </li>
    </ul>
  </div>
  <div>
   <!-- <mat-form-field appearance="outline">
      <mat-label>My Vote:</mat-label>
      <input [(ngModel)]="currentVote" matInput />
    </mat-form-field> -->
    <mat-form-field appearance="outline">
      <mat-label>Ballot Code:</mat-label>
      <input [(ngModel)]="ballotCode" matInput />
    </mat-form-field>
  </div>
<div>
  <div *ngFor="let question of poll.pollQuestions;let i = index;">

    <label class="poll-radio-group">{{question.question}}</label>
    <mat-radio-group [(ngModel)]="currentVotes[i]">
      <mat-radio-button *ngFor="let option of question.options" class="poll-radio-button" [value]="option">
        {{option}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<button mat-raised-button color="primary" (click)="vote()">Vote</button>
<button mat-raised-button color="warn" (click)="mine()">Mine</button>

<mat-error>{{errorMessage}}</mat-error>

<!--
  <h2>Validate:</h2>
  <div>

    <mat-form-field appearance="outline">
      <mat-label>Votes</mat-label>
      <textarea id="textToCalculateHash" rows="10" cols="100" [(ngModel)]="textToCalculateHash" matInput>
    </textarea>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Previous Hash</mat-label>
      <input id="previousHash" [(ngModel)]="previousHash" matInput />
    </mat-form-field>
  </div>
  <div>
    {{textToCalculateHashNormalized}}
  </div>
  <button (click)="validate()" mat-raised-button color="primary">Validate Hash</button>
  <div>
    {{calculatedHash}}
  </div>
-->
  <h2>Poll Blockchain:</h2>
  <pre>{{pollJSON}}</pre>
