<div *ngIf="poll">
    <h2>Vote on poll: {{poll.name }} -- {{poll.id}} </h2>
    <div>
        <ul>
            <li *ngFor="let vote of poll.votes">
                {{vote}}
            </li>
        </ul>
    </div>
    <div>
      <label>My Vote:
        <input [(ngModel)]="currentVote"/>
      </label>
    </div>
    <button (click)="vote()">Vote</button>
    <button (click)="mine()">Mine</button>
    <button (click)="validate()">Validate</button>

    <h2>Poll Blockchain:</h2>
    <pre>{{pollJSON}}
    </pre>
  </div>


