mat-form-field {

  margin: 5px;
}

.mat-raised-button {
  margin: 5px;

}

.mat-stroked-button {
  margin: 5px;
}


.poll-question {
  width: 400px;
}

.poll-option {
  width: 400px;
}

.poll-name {
  width: 400px;
}

.poll-question-with-option {
  border-style: dotted;
}
