<h2>Create Poll</h2>
<p>
  <button mat-stroked-button (click)="help()">
    ?
  </button>
</p>
<form #pollForm="ngForm">

  <p>
    <mat-form-field appearance="outline" class="poll-name">
      <mat-label>Poll Name</mat-label>
      <input [(ngModel)]="poll.name" name="pollName" #pollName="ngModel" matInput placeholder="Poll Name" required minlength="10" />
      <mat-error *ngIf="pollName.invalid">Please enter a valid poll name (min length 10).</mat-error>
      <mat-hint>A descriptive name of the poll</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">

      <mat-label>Poll Id</mat-label>
      <input [(ngModel)]="poll.id" name="pollId" #pollId="ngModel" matInput placeholder="Poll Id" required minlength="8" pattern="[A-Za-z0-9_-]+"  />
      <mat-error *ngIf="pollId.invalid">Please enter a valid poll id (min length 8) without special characters.</mat-error>
      <mat-hint>A unique business id of the</mat-hint>
    </mat-form-field>
  </p>
  <p *ngFor="let question of poll.pollQuestions;let i = index;" class="poll-question-with-option">
    <mat-form-field appearance="outline" class="poll-question">
      <mat-label>Poll Question</mat-label>
      <input [(ngModel)]="poll.pollQuestions[i].question" name=pollQuestion{{i}} matInput placeholder="Question" required/>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline" *ngFor="let option of question.options;let j = index;" class="poll-option">
      <mat-label>Option</mat-label>
      <input [ngModel]="question.options[j]" (change)="onOptionUpdate($event.target.value, i, j)" matInput placeholder="Option" name=option{{i}}-{{j}} required/>
      <!--- {{i}}-{{j}} ---- {{question.options[j]}} -->
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="addNewOption(question)">New option</button>
    <button mat-raised-button color="primary" (click)="addNewQuestion()">New question</button>

  </p>

  <button mat-raised-button color="primary" [disabled]="pollForm.invalid" (click)="save()">Save</button>
  <div>
    <div *ngIf="serverMessage" class="alert alert-success" role="alert">
      {{serverMessage}}
    </div>
    <div *ngIf="serverErrorMessage" class="alert alert-danger" role="alert">
      {{serverErrorMessage}}
    </div>

  </div>
  <div *ngIf="confirmedPollId">
    <div>
      <a mat-stroked-button routerLink="/register/{{confirmedPollId}}">
        Register to vote
      </a>
      <button mat-stroked-button [cdkCopyToClipboard]="registerUrl">Copy register link to clipboard</button>
      <a mat-stroked-button routerLink="/vote/{{confirmedPollId}}">
        Vote on poll
      </a>
      <button mat-stroked-button [cdkCopyToClipboard]="voteUrl"  >Copy vote link to clipboard</button>
    </div>
  </div>

</form>
<pre>
  {{poll | json}}
</pre>
