<h1>Blockchain-based Polling System</h1>
<h2>List of existing polls</h2>

<a routerLink="/poll/new">
  Create new poll
</a>
<br/>
<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Poll Id</th>
      <th>Poll Name</th>
      <th>Register link</th>
      <th>Vote link</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let poll of polls;let i = index;">
      <td>{{i}}.</td>
      <td>{{poll.id}}</td>
      <td>{{poll.name}}</td>
      <td>
        <a routerLink="/register/{{poll.id}}">
          Register
        </a>
      </td>
      <td>
        <a routerLink="/vote/{{poll.id}}">
          Vote
        </a>
      </td>
      <td>
        <a (click)="delete(poll.id)" href="">
          Delete
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="!polls || polls.length === 0">
No polls found.
</div>
