table {
  border-collapse: separate;
  border-spacing: 0 15px;
}


th,
td {
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

mat-form-field {

  margin: 5px;
}

.mat-raised-button {
  margin: 5px;

}

.mat-stroked-button {
  margin: 5px;
}
